body {
    display: flex;
    justify-content: center;
    background-color: rgb(29, 26, 26);
    color: rgb(205, 205, 205);
}

.gameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.output {
    background-color: inherit;
    color: inherit;
    width: 40vw;
    height: auto;
    border: 3px;
    border-color:rgb(205, 205, 205)
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

.introduction {
    text-align: center;
    font-size: 36px;
}