body {
    display: flex;
    justify-content: center;
    background-color: rgb(29, 26, 26);
    color: rgb(205, 205, 205);
}

.output {
    background-color: inherit;
    color: inherit;
    width: 40vw;
    height: auto;
}

.introduction {
    text-align: center;
    font-size: 36px;
}